::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 100px;
}
.gallery-figcaption
    .gallery-figcaption--thumbnails
    .caption-thumbnails
    ul.thumbnails-list
    li
    button.thumbnail-button {
    border: 0;
}
