::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 100px;
}
.gallery-figcaption
    .gallery-figcaption--thumbnails
    .caption-thumbnails
    ul.thumbnails-list
    li
    button.thumbnail-button {
    border: 0;
}
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    /* margin-bottom: 30px; */
  }
  .sweet-alert-title {
    padding : 0 1rem !important
  }
  .sweet-alert-msg {
    padding : 0 1rem !important
  }
  .sweet-alert-container {
    z-index: 1301 !important;
  }